node_modules
# Keep environment variables out of version control
.env
dist
build
!example.env
generated/prisma/
uploads/*
!uploads/.gitkeep
downloads/*
!downloads/.gitkeep
subtitles/*
!subtitles/.gitkeep
!subtitles/sample.srt